---
import Model from '../layouts/Model.astro';
---

<Model title="Paralx" description="Transparent quantitative finance research.">
    <h1>Paralx</h1>
    <p>Open source transparent quantitative finance research.</p>
    <a href="/models/keynesian-cross">Keynesian Cross</a>
</Model>
